.one a
{

  text-decoration: none;
  padding: -10px;
  margin: 10px;
  margin-top: 5px
  margin-bottom: 5px;
  color: black;
  font-weight: bold;
}
.one li a:hover
{
color: white;
}
.one li
{
  display: inline;
  margin-left: 0px;
border-radius: 30px;
color: black;
background-color: white;
border-width: 50px;
}
.one li:hover
{
  background-color: #003d99;
}
body
{
  margin: 0;
}
.one nav{
float: right;
width:30%;
margin-left: 0px;

}
nav ul
{
  margin-top: 30px;
}
.one h1
{
  margin-top: 20px;
  margin-left: 50px;
  margin-bottom: 0;
  float: left;
  color: black;
  font-size: 30px;
  border-top-right-radius:30px;
  border-bottom-right-radius:30px;
  border-right: 13px;
  border: 1px solid #003d99;
  background-color: white;
}
.primary
{
  background-color: #efffff;
  height: 100px;
  margin: 0;
}
.one
{
  text-align: center;
  height: 80px;
  display: block;
padding-bottom: 0px;
margin-bottom: 0px;
}
.two
{
  padding-top: 0;
  display: block;
  float: left;
  width: 100%;
  height: 80px;
  margin-top: 0;
  position: relative;
background-color:#e6f0ff;
}
.third
{
  display: block;
  height: 100px;
  position: relative;;
  background-color: #1a8cff;
  float: left;
  width: 100%;
  text-align: justify;
}
footer
{
  display: block;
  height: 250px;
  float: left;
  width: 100%;
  position: relative;
  background-color:  #00264d;
  color: white;
  margin-bottom: 10px;
}
.footer2
{
  display: block;
  height: 100px;
  float: left;
  width: 100%;
  position: relative;
  background-color:  #001a33;
  color: white;
  margin-top: 0;
}
footer .grid_1
{
  margin-top: 30px;
  margin-bottom: 30px;
  height: 40px;
   border-left: 1px dotted white;
}
footer .containter_12,
{
  float: left;
  height: 150px
}
.footer2 a
{
  text-decoration: none;
}
footer h1
{
  text-align: center;
  padding-bottom: 10px;
}
footer hr
{
border-top: 1px dotted white;
}
.footer{
  color: white;
  margin: ipx solid white;
  border: ipx solid white;
}
.images
{
  display: block;
  height: 70%;
  position: relative;;

}
.hero
{
  display: block;
  height: 700px;
  position: relative;;
background-color:
 #e6f3ff;
}
grid_4
{
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: pink;
}
#image{
align-items: center;
margin: auto;
}
#content
{
  padding-top: 5px;
  font-weight: lighter;
}
#heading
{
  color: black;
  margin-bottom: 0;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
}
#heading1
{
  margin-bottom: 0px;
}
.first .image
{background: url('../images/frist.jpg') ;
}
.second .image
{
  background: url('../images/second.jpg');
background-repeat: no-repeat;
background-position: center;
}
.image,.content{

  margin-top: 20px;
  width: 50%;
  position: relative;
  height: 500px;
  float: left;
  margin-bottom: 10px;
}
.content p
{
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 100;
}
.define
{
margin-left: 30px;
margin-bottom: 0;
}
.second hr,.first hr
{
  margin-top: 0px;
  padding-top: 0px;
  margin-left: 30px;
  margin-bottom: 0px;
  margin-right: 20px;
  border-top:1px solid  #1a8cff;

}
.hero hr
{
  border-top:1px solid  #1a8cff;
  margin-top: 0;
}
.middle
{
  margin: auto;
  vertical-align: middle;
text-align: center;
float: left;
  text-decoration-style: wavy;
  font-family: sans-serif;
}
.headmiddle
{
  text-align: center;
  font-family: sans-serif;
  margin-bottom: 0;
  margin-top: 20px;
}
.footer2 p
{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 0;
}

.footer2 a
{
  padding: 0;
  float: right;
  margin-top: -20px;
  margin-right: 100px;
  color: white;
}

.two
{
  margin-top: 0px;
}

.two li
{
  display: inline;
}
.two li
{
  border: 1px solid green;
  display: inline;
  padding-left: -2px;
  margin-left: 0px;
border-radius: 10px;
background-color: white;
color: black;
}
.two a{
  text-decoration: none;
  padding: 0px;
  margin: 25px;
  margin-top: 5px
  margin-bottom: 5px;
  color: black;
  font-weight: bold;
}
.two a:hover
{
  color: #3385ff;
}
.two li:hover
{
  background-color: white;
}
.two nav
{
  text-align: center;
}
.body
{
  background: url('../images/background.jpg');
}
.white
{
  color: white;
}
